<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leadnews.es.mapper.ApArticleMapper">

    <resultMap id="BaseResultMap" type="com.leadnews.model.article.pojos.ApArticle">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="authorId" column="author_id" jdbcType="OTHER"/>
        <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
        <result property="channelId" column="channel_id" jdbcType="OTHER"/>
        <result property="channelName" column="channel_name" jdbcType="VARCHAR"/>
        <result property="layout" column="layout" jdbcType="TINYINT"/>
        <result property="flag" column="flag" jdbcType="TINYINT"/>
        <result property="images" column="images" jdbcType="VARCHAR"/>
        <result property="labels" column="labels" jdbcType="VARCHAR"/>
        <result property="likes" column="likes" jdbcType="OTHER"/>
        <result property="collection" column="collection" jdbcType="OTHER"/>
        <result property="comment" column="comment" jdbcType="OTHER"/>
        <result property="views" column="views" jdbcType="OTHER"/>
        <result property="provinceId" column="province_id" jdbcType="OTHER"/>
        <result property="cityId" column="city_id" jdbcType="OTHER"/>
        <result property="countyId" column="county_id" jdbcType="OTHER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
        <result property="syncStatus" column="sync_status" jdbcType="TINYINT"/>
        <result property="origin" column="origin" jdbcType="TINYINT"/>
        <result property="staticUrl" column="static_url" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="SearchArticleVOResultMap" type="com.leadnews.model.search.vos.SearchArticleVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="authorId" column="author_id"/>
        <result property="authorName" column="author_name"/>
        <result property="layout" column="layout"/>
        <result property="images" column="images"/>
        <result property="publishTime" column="publish_time"/>
        <result property="staticUrl" column="static_url"/>
        <result property="content" column="content"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,author_id,
        author_name,channel_id,channel_name,
        layout,flag,images,
        labels,likes,collection,
        comment,views,province_id,
        city_id,county_id,created_time,
        publish_time,sync_status,origin,
        static_url
    </sql>

    <select id="loadArticleList" resultMap="SearchArticleVOResultMap">
        select a.id,
               a.title,
               a.author_id,
               a.author_name,
               a.layout,
               a.images,
               a.publish_time,
               a.static_url,
               ac.content
        from ap_article as a
                 join ap_article_content as ac
                      on ac.article_id = a.id;
    </select>
</mapper>
